USE [master]
GO
/****** Object:  Database [QLVatTuXayDung]    Script Date: 10/01/2022 8:14:25 PM ******/
CREATE DATABASE [QLVatTuXayDung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVatTuXayDung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLVatTuXayDung.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLVatTuXayDung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLVatTuXayDung_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVatTuXayDung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVatTuXayDung]
GO
/****** Object:  Table [dbo].[Don]    Script Date: 10/01/2022 8:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Don](
	[maDon] [int] IDENTITY(1,1) NOT NULL,
	[vatTu] [nvarchar](50) NULL,
	[soLuong] [int] NULL,
	[donGia] [nvarchar](50) NULL,
	[maNhapXuat] [int] NULL,
 CONSTRAINT [PK_Don] PRIMARY KEY CLUSTERED 
(
	[maDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/01/2022 8:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNv] [int] IDENTITY(1,1) NOT NULL,
	[taiKhoan] [nvarchar](50) NULL,
	[matKhau] [nvarchar](50) NULL,
	[hoTen] [nvarchar](50) NULL,
	[quyen] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 10/01/2022 8:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[maNhap] [int] IDENTITY(1,1) NOT NULL,
	[nhanVien] [nvarchar](50) NULL,
	[ngayNhap] [datetime] NULL,
	[nhaCC] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](50) NULL,
	[tongTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhapKho] PRIMARY KEY CLUSTERED 
(
	[maNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 10/01/2022 8:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VatTu](
	[maVatTu] [int] IDENTITY(1,1) NOT NULL,
	[tenVatTu] [nvarchar](50) NULL,
	[donVi] [nvarchar](50) NULL,
	[anh] [varbinary](max) NULL,
	[gia] [nvarchar](50) NULL,
	[hangSX] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](50) NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[maVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XuatKho]    Script Date: 10/01/2022 8:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKho](
	[maXuat] [int] IDENTITY(500,1) NOT NULL,
	[nhanVien] [nvarchar](50) NULL,
	[ngayXuat] [datetime] NULL,
	[ghiChu] [nvarchar](50) NULL,
	[tongTien] [nvarchar](50) NULL,
	[daThanhToan] [nvarchar](50) NULL,
 CONSTRAINT [PK_XuatKho] PRIMARY KEY CLUSTERED 
(
	[maXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Don] ON 

INSERT [dbo].[Don] ([maDon], [vatTu], [soLuong], [donGia], [maNhapXuat]) VALUES (1, N'gạch', 66, N'16000', 1)
INSERT [dbo].[Don] ([maDon], [vatTu], [soLuong], [donGia], [maNhapXuat]) VALUES (2, N'xi măng', 56, N'5000', 1)
INSERT [dbo].[Don] ([maDon], [vatTu], [soLuong], [donGia], [maNhapXuat]) VALUES (3, N'gạch xây dựng', 600, N'5000', 500)
SET IDENTITY_INSERT [dbo].[Don] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([maNv], [taiKhoan], [matKhau], [hoTen], [quyen]) VALUES (1, N'tuan', N'1234', N'Anh Tuấn', 1)
INSERT [dbo].[NhanVien] ([maNv], [taiKhoan], [matKhau], [hoTen], [quyen]) VALUES (7, N'tu123', N'1234', N'Tú', 0)
INSERT [dbo].[NhanVien] ([maNv], [taiKhoan], [matKhau], [hoTen], [quyen]) VALUES (8, N'nhat', N'123', N'Minh Nhật', 0)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[NhapKho] ON 

INSERT [dbo].[NhapKho] ([maNhap], [nhanVien], [ngayNhap], [nhaCC], [ghiChu], [tongTien]) VALUES (1, N'Thủ kho', CAST(N'2022-01-01 17:42:19.000' AS DateTime), N'a', N'a', N'1336000')
SET IDENTITY_INSERT [dbo].[NhapKho] OFF
SET IDENTITY_INSERT [dbo].[VatTu] ON 

SET IDENTITY_INSERT [dbo].[VatTu] OFF
SET IDENTITY_INSERT [dbo].[XuatKho] ON 

INSERT [dbo].[XuatKho] ([maXuat], [nhanVien], [ngayXuat], [ghiChu], [tongTien], [daThanhToan]) VALUES (500, N'Thủ kho', CAST(N'2022-02-01 15:52:30.000' AS DateTime), N'ab', N'3000000', N'2000000')
SET IDENTITY_INSERT [dbo].[XuatKho] OFF
USE [master]
GO
